/* File: public/css/google-btn.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.google-btn-blue {
    text-decoration: none !important; /* Bắt buộc có để đè style của Bootstrap */
    color: white !important;
    background-color: #4285F4;
    height: 46px;
    width: 100%;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    align-items: center;
    padding: 2px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color .2s, box-shadow .2s;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.google-btn-blue:hover {
    background-color: #3367D6;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.24);
    color: white !important;
}

.google-icon-wrapper {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
}

.google-icon {
    width: 20px;
    height: 20px;
    display: block;
}

.btn-text {
    font-size: 14px;
    font-weight: 500;
    flex-grow: 1;
    text-align: center;
    padding-right: 10px;
}